h1{
    color: brown;
    background-color: rgb(211, 223, 228);
    text-align: center;
}
form{
   
    margin: auto;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
    align-content: center;   
}
input[type="text"],
input[type="number"]{
    background-color: #d9dcd5;
    padding: 15px;
    box-sizing: border-box;
    font-weight: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 0.9em;
    width: 100%;
}
button{
    padding: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;

  }
div{
    background-color: rgb(214, 122, 16);
}



